<p>Värden inom parantes är från den första hämtningen.</p>
<p class="week">Week {{ weekNumber }}</p>
<p *ngIf="!originalDraw"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="originalDraw">
  <thead>
    <tr>
      <th>Event</th>
      <th>Svenska folket(1-X-2)</th>
      <th>One</th>
      <th>X</th>
      <th>Two</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of originalDraw.drawEvents">
      <td>{{ event.eventDescription }}</td>
      <td>{{ event.svenskaFolket.one }}-{{ event.svenskaFolket.x }}-{{ event.svenskaFolket.two }}</td>
      <td [style.color]="getColorOddsOne(event.eventNumber)">{{ getLatestOddsOne(event.eventNumber) }} (<em>{{ event.odds.one }}</em>)</td>
      <td [style.color]="getColorOddsX(event.eventNumber)">{{ getLatestOddsX(event.eventNumber) }}(<em>{{ event.odds.x }}</em>)</td>
      <td [style.color]="getColorOddsTwo(event.eventNumber)">{{ getLatestOddsTwo(event.eventNumber) }}(<em>{{ event.odds.two }}</em>)</td>
    </tr>
  </tbody>
</table>
